* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}
header {
    background: #1F2937;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
}
#logo {
    color: white;
    display: inline;
    font-size: 12px;
}
ul {
    text-decoration: none;
}
ul li {
    color: #cacbcc;
    font-size: 18px;
    display: inline;
    padding: 0px 10px;
}
.header-middle {
    display: flex;
    align-items: center;
    color: #e5e7e5;
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.header-middle h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.placeholder {
    background: #7c7c7c;
    width: 550px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color:#cecece;
    font-weight: bold;
}
button {
    padding: 10px 40px;
    font-size: 18px;
    background: #3882F6;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    margin: 10px 0px;
}

.rand-inf {
    background: white;
}
.rand-inf .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.rand-inf .title {
    font-weight: bolder;
    font-size: 36px;
    color:#1F2937;
    text-align: center;
    margin-bottom: 40px;
}
.rand-inf .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    width: 170px;
}
.rand-inf .info .img {
    border: #3882F6 solid 4px;
    border-radius: 15px;
    width: 170px;
    height: 170px;
    margin: 10px;
}
.rand-inf .info .text {
 color: #7c7c7c;
 font-size: 18px;
 text-align: center;
}

.quote {
    background: #e5e7eb;
}
.quote .quote-text {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    text-align: justify;
}
.quote .quote-author {
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
}

.action {
    background: white;
}
.bluesquare {
    background: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bluesquare .action-button {
    border: white 1px solid;
    border-radius: 5px;
    color: white;
    background: #3882F6;
    font-weight: bold;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
}

footer {
    background: #1F2937;
    color: white;
    padding: 40px;
    text-align: center;
}

header, footer, section {
    padding: 100px 250px;
}


@media only screen and (max-width: 968px) {
    header, footer, section {
        padding: 50px 50px;
    }
    .placeholder {
        width: 200px;
        height: 300px;
        padding: 50px;
    }
    .rand-inf .info .img {
        width: 130px;
        height: 130px;
        margin: 10px;
    }
    .quote .quote-text {
        font-size: 25px;
    }
}
@media only screen and (max-width: 700px) {
    header, footer, section {
        padding: 20px 10px;
    }
    .header-top {
        display: block;
    }
    nav {        
        background: #4d4f52;
        padding: 10px;
        margin-top: 10px;
    }
    #menu {
        width: 100%;        
        text-align: right;
    }
    .header-middle{
        flex-direction: column-reverse;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .left h1{
        font-size: 35px;
    }
    .left p{
        font-size: 16px;
    }
    .left {
        text-align: center;
    }
    .placeholder {
        width: 300px;
        height: 100px;
        margin-bottom: 50px;
    }
    .rand-inf .row {
        flex-wrap: wrap;
    }
    .rand-inf .info .img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }
    .quote {
        padding: 40px;
    }
    .quote .quote-text {
        font-size: 20px;
    }
    .quote .quote-author {
        font-size: 16px;
    }
    .bluesquare {
        padding: 40px 50px;
    }
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
}